{% extends "base.html" %}
{% block main %}
{% include 'flash_messages.html' %}
<h1>Secure Page</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia earum, harum blanditiis ratione iste veritatis aperiam expedita iure magni temporibus officia libero dolor tempora eligendi illum suscipit esse ipsum sapiente modi fuga aut quas ullam eaque ipsa. Dolore modi dignissimos delectus dolorum ducimus minima nisi autem. Voluptates aliquam perferendis impedit possimus aperiam sapiente esse ullam odit nulla cumque, vel nobis temporibus veritatis sunt similique, sequi consequatur a rem eum beatae fuga officia illo velit veniam. Cumque minima deleniti, quisquam nihil dolorum temporibus. Natus cumque doloremque, excepturi nulla fugit omnis molestiae repudiandae blanditiis harum voluptatum tempore aspernatur! Corrupti praesentium iure natus?
</p>

{%endblock %}
